.navbar {
        position: absolute !important;
        width: 100%;


        &-brand {
                padding-left: 1.5rem;
        }

        
        &-nav {
                position: absolute;
                right: 0;
                padding-right: 1.5rem;
        }
}