/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 10, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5% !important; }

/* line 14, staticfiles/scss/base/_base.scss */
body {
  /*@include col;
    box-sizing: border-box;*/
  font-family: sans-serif; }

/* line 20, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 26, staticfiles/scss/base/_base.scss */
p {
  color: #888;
  font-size: 0.2rem;
  letter-spacing: 1px;
  line-height: 34px; }

/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 10, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5% !important; }

/* line 14, staticfiles/scss/base/_base.scss */
body {
  /*@include col;
    box-sizing: border-box;*/
  font-family: sans-serif; }

/* line 20, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 26, staticfiles/scss/base/_base.scss */
p {
  color: #888;
  font-size: 0.2rem;
  letter-spacing: 1px;
  line-height: 34px; }

/* line 1, staticfiles/scss/pages/_home.scss */
#about {
  background: #f0f0f0; }

/* line 5, staticfiles/scss/pages/_home.scss */
#about, #gallery, #contact {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative; }

/* line 11, staticfiles/scss/pages/_home.scss */
#about .about-thumb {
  background: #ffffff;
  border-radius: 4px;
  padding: 100px;
  position: relative; }

/* line 18, staticfiles/scss/pages/_home.scss */
#about .about-img img {
  border: 8px solid #ffffff;
  position: absolute;
  left: -120px;
  bottom: -325px;
  padding: 12px; }

/* line 25, staticfiles/scss/pages/_home.scss */
.img-circle {
  border-radius: 50%; }

/* line 28, staticfiles/scss/pages/_home.scss */
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

/* line 33, staticfiles/scss/pages/_home.scss */
img {
  vertical-align: middle; }

/* line 36, staticfiles/scss/pages/_home.scss */
img {
  border: 0; }

/* line 39, staticfiles/scss/pages/_home.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 44, staticfiles/scss/pages/_home.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 49, staticfiles/scss/pages/_home.scss */
user agent stylesheet
img {
  overflow-clip-margin: content-box;
  overflow: clip; }

/* line 54, staticfiles/scss/pages/_home.scss */
div {
  display: block; }

/* line 1, staticfiles/scss/components/_composition.scss */
h1 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  padding-bottom: 8px; }

/* line 1, staticfiles/scss/layout/_header.scss */
.headers {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 13, staticfiles/scss/layout/_header.scss */
  .headers__cover {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #785d0f8f; }
  /* line 20, staticfiles/scss/layout/_header.scss */
  .headers__bg-img {
    position: absolute; }

/*.navbar {
        position: fixed !important;
        width: 100%;
        background: #785d0f00 !important;


        &-brand {
                padding-left: 1.5rem;
        }

        
        &-nav {
                position: absolute;
                right: 0;
                padding-right: 1.5rem;
                font-size: 1.5rem;
                &.nav-link {
                        color: beige;
                }
        }
}*/
/* line 1, staticfiles/scss/layout/_places.scss */
.Places {
  width: 100%;
  height: 100vh;
  position: relative; }
