/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 9, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 13, staticfiles/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

/* line 18, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 9, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 13, staticfiles/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

/* line 18, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 1, staticfiles/scss/layout/_header.scss */
.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: azure;
  height: 6rem;
  justify-content: center; }
  /* line 8, staticfiles/scss/layout/_header.scss */
  .heading__logo {
    font-size: 3.6rem; }
  /* line 12, staticfiles/scss/layout/_header.scss */
  .heading__link {
    font-size: 1.6rem;
    padding: 0.6rem;
    color: black; }
  /* line 18, staticfiles/scss/layout/_header.scss */
  .heading__nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 1rem;
    justify-content: space-between; }
  /* line 26, staticfiles/scss/layout/_header.scss */
  .heading__menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    padding-right: 2rem; }
