/*
     0 - 600px(0 - 60rem): Phone
     600 - 900px(60rem - 90rem): tablet portrait
     900 - 1200px(90rem - 120rem): Tablet landscape
     [1200 - 1800px(120rem - 180rem)] is where the normal css styles apply
     1800px + (180rem + ): Big Desktop
     */
/*
     $breakpoint argument choices:
     - phone
     - tab-port
     - tab-land
     - big-desktop
     1em = 16px
     */
/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 9, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5%;
  /*@include respond(phone){
        font-size: 50%; not required since 900 == 600px screen size
    }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/ }
  @media only screen and (max-width: 75em) {
    /* line 9, staticfiles/scss/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    /* line 9, staticfiles/scss/base/_base.scss */
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    /* line 9, staticfiles/scss/base/_base.scss */
    html {
      font-size: 75%; } }
/* line 27, staticfiles/scss/base/_base.scss */
body {
  box-sizing: border-box;
  padding: 3rem;
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/ }
  @media only screen and (max-width: 56.25em) {
    /* line 27, staticfiles/scss/base/_base.scss */
    body {
      padding: 0; } }
/* line 36, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 42, staticfiles/scss/base/_base.scss */
::selection {
  background-color: #55c57a;
  color: #fff; }

/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 9, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5%;
  /*@include respond(phone){
        font-size: 50%; not required since 900 == 600px screen size
    }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/ }
  @media only screen and (max-width: 75em) {
    /* line 9, staticfiles/scss/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    /* line 9, staticfiles/scss/base/_base.scss */
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    /* line 9, staticfiles/scss/base/_base.scss */
    html {
      font-size: 75%; } }
/* line 27, staticfiles/scss/base/_base.scss */
body {
  box-sizing: border-box;
  padding: 3rem;
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/ }
  @media only screen and (max-width: 56.25em) {
    /* line 27, staticfiles/scss/base/_base.scss */
    body {
      padding: 0; } }
/* line 36, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 42, staticfiles/scss/base/_base.scss */
::selection {
  background-color: #55c57a;
  color: #fff; }

/* line 1, staticfiles/scss/layout/_header.scss */
.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/static/img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/
  /*@if $breakpoint == phone-small{  //282px
           @media (max-width: 17.6em) {
              @content
           };
        }*/ }
  @supports (clip-path: polygon(0 0)) {
    /* line 1, staticfiles/scss/layout/_header.scss */
    .header {
      /*curving the bottom path*/
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      -ms-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      -moz-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
    /* line 1, staticfiles/scss/layout/_header.scss */
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/static/images/bg-img1.jpg?77d1df1083fd"); } }
  @media only screen and (max-width: 56.25em) {
    @supports (clip-path: polygon(0 0)) {
      /* line 1, staticfiles/scss/layout/_header.scss */
      .header {
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        -ms-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } } }
  @media only screen and (max-width: 37.5em) {
    @supports (clip-path: polygon(0 0)) {
      /* line 1, staticfiles/scss/layout/_header.scss */
      .header {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -ms-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } } }
  /* line 50, staticfiles/scss/layout/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 56, staticfiles/scss/layout/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 60, staticfiles/scss/layout/_header.scss */
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
