/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 10, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5% !important; }

/* line 14, staticfiles/scss/base/_base.scss */
body {
  /*@include col;
    box-sizing: border-box;*/
  font-family: 'Source Sans Pro', sans-serif !important; }

/* line 20, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 26, staticfiles/scss/base/_base.scss */
p {
  color: #888;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3.4rem; }

/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* line 10, staticfiles/scss/base/_base.scss */
html {
  font-size: 62.5% !important; }

/* line 14, staticfiles/scss/base/_base.scss */
body {
  /*@include col;
    box-sizing: border-box;*/
  font-family: 'Source Sans Pro', sans-serif !important; }

/* line 20, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 26, staticfiles/scss/base/_base.scss */
p {
  color: #888;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3.4rem; }

/* line 1, staticfiles/scss/base/_utilities.scss */
.social-icon {
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

/* line 1, staticfiles/scss/components/_composition.scss */
h1 {
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 8rem; }

/* line 1, staticfiles/scss/components/_story.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

/* line 1, staticfiles/scss/layout/_about.scss */
#about {
  background: #f0f0f0; }

/* line 5, staticfiles/scss/layout/_about.scss */
#about, #gallery, #contact {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative; }

/* line 11, staticfiles/scss/layout/_about.scss */
#about .about-thumb {
  background: #ffffff;
  border-radius: 4px;
  padding: 100px;
  position: relative; }

/* line 18, staticfiles/scss/layout/_about.scss */
#about .about-img img {
  border: 8px solid #ffffff;
  position: absolute;
  left: -120px;
  bottom: -325px;
  padding: 12px; }

/* line 26, staticfiles/scss/layout/_about.scss */
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

/* line 31, staticfiles/scss/layout/_about.scss */
img {
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip; }
  /* line 37, staticfiles/scss/layout/_about.scss */
  img-circle {
    border-radius: 50%; }

/* line 42, staticfiles/scss/layout/_about.scss */
div {
  display: block; }

/* line 1, staticfiles/scss/layout/_header.scss */
.headers {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 13, staticfiles/scss/layout/_header.scss */
  .headers__cover {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #785d0f8f; }
  /* line 20, staticfiles/scss/layout/_header.scss */
  .headers__bg-img {
    position: absolute; }

/*.navbar {
        position: fixed !important;
        width: 100%;
        background: #785d0f00 !important;


        &-brand {
                padding-left: 1.5rem;
        }

        
        &-nav {
                position: absolute;
                right: 0;
                padding-right: 1.5rem;
                font-size: 1.5rem;
                &.nav-link {
                        color: beige;
                }
        }
}*/
/* line 1, staticfiles/scss/layout/_footer.scss */
#contact, footer {
  background: #304352;
  color: #ffffff; }

/* line 6, staticfiles/scss/layout/_footer.scss */
#gallery, #contact, footer {
  text-align: center; }

/* line 10, staticfiles/scss/layout/_footer.scss */
#gallery, #contact, footer {
  text-align: center; }

/* line 14, staticfiles/scss/layout/_footer.scss */
#home p, #contact p, footer p {
  color: #f9f9f9; }

/* line 17, staticfiles/scss/layout/_footer.scss */
#contact .form-control {
  background: transparent;
  box-shadow: none;
  border: 1px solid #f9f9f9;
  color: #ccc;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 14px;
  transition: all 0.4s ease-in-out; }

/* line 27, staticfiles/scss/layout/_footer.scss */
#contact input {
  height: 55px; }

/* line 31, staticfiles/scss/layout/_footer.scss */
#contact input[type="submit"] {
  background: #e44c65;
  border: none;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px; }
