/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/*
html{
    font-size: 62.5%;
}*/
/* line 13, staticfiles/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Arial,Helvetica,sans-serif; }

/* line 19, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 1, staticfiles/scss/base/_base.scss */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/*
html{
    font-size: 62.5%;
}*/
/* line 13, staticfiles/scss/base/_base.scss */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Arial,Helvetica,sans-serif; }

/* line 19, staticfiles/scss/base/_base.scss */
a,
li {
  text-decoration: none;
  list-style: none; }

/* line 1, staticfiles/scss/layout/_header.scss */
.headers {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("/staticfiles/images/bg/damiano-baschiera-hFXZ5cNfkOk-unsplash.jpg"); }

/* line 3, staticfiles/scss/layout/_navigation.scss */
.navbar-brand {
  padding-left: 1.5rem; }

/* line 7, staticfiles/scss/layout/_navigation.scss */
.navbar-nav {
  position: absolute;
  right: 0;
  padding-right: 1.5rem; }
