#about {
        background: #f0f0f0;
}

#about, #gallery, #contact {
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;
}

#about .about-thumb {
        background: #ffffff;
        border-radius: 4px;
        padding: 100px;
        position: relative;
}

#about .about-img img {
        border: 8px solid #ffffff;
        position: absolute;
        left: -120px;
        bottom: -325px;
        padding: 12px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        display: block;
        max-width: 100%;
        height: auto;
}
img {
        vertical-align: middle;
        border: 0;
        overflow-clip-margin: content-box;
        overflow: clip;

        &-circle {
                border-radius: 50%;
        }
}

#about .about-thumb  p {
        margin-top: -8rem;
}