.headers {
        @include col;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__cover {
                width: 100%;
                height: 100vh;
                position: absolute;
                background-color: #785d0f8f;
        }

        &__bg-img {
                position: absolute;
        }
}
