.heading {
        @include col;
        width: 100%;
        background-color: azure;
        height: 6rem;
        justify-content: center;
        
        &__logo {
                font-size: 3.6rem;
        }
        
        &__link {
                font-size: 1.6rem;
                padding: 0.6rem;
                color: black;
        }
        
        &__nav {
                @include rw;
                width: 100%;
                align-items: center;
                padding: 1rem;
                justify-content: space-between;
        }
        
        &__menu {
                @include rw;
                position: absolute;
                right: 0;
                padding-right: 2rem;
        }
}