$blue: #0d6efd !important;
$purple: #6f42c1 !important;
$pink: #d63384 !important;
$red: #dc3545 !important;
$orange: #fd7e14 !important;
$yellow: #ffc800 !important;
$green: #198754 !important;
$teal: #20c997 !important;
$cyan: #0dcaf0 !important;
$white: #fff !important;
$gray: #6c757d !important;
$gray-dark: #343a40 !important;
$gray-100: #f8f9fa !important;
$gray-200: #e9ecef !important;
$gray-300: #dee2e6 !important;
$gray-400: #ced4da !important;
$gray-500: #adb5bd !important;
$gray-600: #6c757d !important;
$gray-700: #495057 !important;
$gray-800: #343a40 !important;
$gray-900: #212529 !important;
$primary: #ffc800 !important;
$secondary: #6c757d !important;
$success: #198754 !important;
$info: #0dcaf0 !important;
$warning: #ffc800 !important;
$danger: #dc3545 !important;
$light: #f8f9fa !important;
$dark: #212529 !important;
$body-bg: #fff !important;
$indigo: #6610f2 !important;
/*
button primarry colors to use
*/
$btn-primary: #ffc800 !important;

/*Hover effect*/
$btn-primary-hover: #cca000 !important;