*,
*::after,
*::before{
    padding:0;
    margin: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5% !important;
}

body{
    /*@include col;
    box-sizing: border-box;*/
    font-family: 'Source Sans Pro', sans-serif !important;
}

a, 
li {
    text-decoration: none;
    list-style: none;
}

p {
    color: #888;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.4rem;
}