{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>Explorer</title>

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" />
        {% endcompress %}
	
</head>
<body>
        <header class="heading">
                <nav class="heading__nav">
                        <h1 class="heading__logo">Explorer</h1>
                        <ul class="heading__menu">
                                <li><a href="#" class="heading__link">Home</li>
                                <li><a href="#" class="heading__link">Home</li>
                                <li><a href="#" class="heading__link">Home</li>
                                <li><a href="#" class="heading__link">Home</li>
                                <li><a href="#" class="heading__link">Home</li>
                                <li><a href="#" class="heading__link">Home</li>
                        </ul>
                </nav>
        </header>
</body>
</html>