{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>Explorer</title>

        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />

        <!--Import css styles-->
        <link rel="stylesheet" href="{%static 'css/base.css' %}" type=text/css />

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" />
        {% endcompress %}
	
</head>
<body>
</body>
</html>